
.forgot-password-wrapper {
    background-image: url('images/login-bg.jpg'); 
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px; 
    padding-left: 350px;
    padding-right: 350px;
    border-radius: 35px;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(80%); 
    margin: 100px 0; 
}

.forgot-password-container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 2.5rem 3.5rem; 
    border-radius:  20px;
    box-shadow: 0 0 25px rgba(255, 193, 7, 0.4); 
    max-width: 400px; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.forgot-password-container h2 {
    /* Style the heading */
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

#forgotPasswordForm {
    width: 100%;
}

.input-group {
    margin-bottom: 20px; 
    width: 100%; 
    text-align: left;
}

.input-group label {
    font-size: 14px;
    letter-spacing: 1px;
    display: block; /* Make label a block element */
    color: #eee; 
    margin-bottom: 5px;
}

.input-wrapper {
    position: relative; 
}

.input-wrapper input {
    width: calc(100% - 20px); /* Adjust padding/border if needed */
    padding: 10px; 
    background: transparent; 
    border: 1px solid #999; 
    border-radius: 5px; 
    color: #fff; /* Adapt text color */
    font-size: 16px;
    outline: none;
}

/* Style for messages */
#resetFeedbackMessage {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: green;
}

#resetErrorMessage {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: red; 
}


/* Style for the Back to Login link */
.forgot-password-container p a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block; 
}

